langchain
langchain-community
langchain-ollama
langchain-chroma
langchain-core
langchain-text-splitters
chromadb
pypdf
fastapi
uvicorn
streamlit
requests
prometheus-client
pandas
mlflow[genai]
pytest
python-dotenv
pillow